name: CI

on:
  push:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build-lib:
    strategy:
      matrix:
        os: [ ubuntu-22.04, macos-14, windows-2022 ]
        jvm-version: [ 21 ]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up JDK ${{ matrix.jvm-version }}
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.jvm-version }}
      - name: Setup sbt launcher
        uses: sbt/setup-sbt@ae54f7cfe46ec0d24ade661d77f007360ab48bda # v1
      - name: Build and test
        run: sbt +test
