name: CI

on:
  push:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build-lib:
    strategy:
      matrix:
        os: [ ubuntu-22.04, macos-14, windows-2022 ]
        jvm-version: [ 21 ]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Set up JDK ${{ matrix.jvm-version }}
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.jvm-version }}
      - name: Setup sbt launcher
        uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1
      - name: Build and test
        run: sbt +test
